.Users {
    border-right: 3px solid #fff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.Users-count {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #fff;
    height: 5vh;
}

.Users-list {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    list-style: none;
}

.User__item {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 20px;

  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;

  margin-bottom: 10px;

  border: 3px solid #f5c75a;
  border-radius: 20px;
}

.User__item--owner {
  border-color: #2d3ef9;
  font-weight: 700;
  color: #2d3ef9;
}

.User__avatar {
  width: 80px;
  height: 80px;
}

.User__name {
  font-size: 30px;
}